{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <div class = "content-wrapper">
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    {% load tags %}

<section class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h1>Historique des notes de frais de {{ collab.user.first_name }} {{ collab.user.last_name }}</h1>
         </div>
      </div>
   </div>
   <!-- /.container-fluid -->
</section>
<section class="content">
  {% if expRepL|length != 0 %}
   <div class="table-responsive">
      <Label class="t_heading">Notes de frais</Label>
      <table class="table table-bordered">
         <thead  style="background-color:darkgreen;color:white;">
            <th>Date</th>
            <th>Coût total TTC (€)</th>
            <th>État</th>
            <th>Détails</th>
         </thead>
         {% for expRep in expRepL %}

         <tbody>
            <tr>
               <td>{{ expRep.month}} {{expRep.year }}</td>
               <td>{{ expRep|sumRep:1 }}</td>
               <td>{{ DictReportState|get:expRep }}</td>
               <td><button class="btn btn-success" onclick="ShowHide(this);" data-toggle="collapse" data-target= "#intro-{{ forloop.counter }}">Afficher</button></td>
            </tr>
            <tr id="intro-{{ forloop.counter }}" class="collapse">
               <td colspan="7">
                  {% for key,value in missDict.items|slice:":1"%}
                     {% if key == expRep %}
                        {% if value|length != 0 %}
                        {% for mission in value|slice:":1"%}
                  <Label class="t_heading">Missions</Label>
                  <table class="table custom-view" style="background-color:lightgrey;color:black;">
                     <thead style="background-color:green;color:white;">
                        <th>Mission</th>
                        <th>Nombre ligne de frais</th>
                        <th>Coût total TTC (€)</th>
                        <th>Détails</th>
                     </thead>
                     {% for key,value in missDict.items %}
                     {% if key == expRep %}
                     {% for mission in value %}
                     <tbody>
                        <td>{{ mission.name }}</td>
                        <td>{{ mission.name|sumMission:expRep }}</td>
                        <td>{{ mission.name|sumMissMoney:expRep }}</td>
                        <td><button class="btn btn-success" onclick="ShowHide(this);" data-toggle="collapse" data-target="#outro-{{forloop.parentloop.counter}}-{{ forloop.counter }}">Afficher</button></td>
                     </tbody>
                     <tr id="outro-{{forloop.parentloop.counter}}-{{ forloop.counter }}" class="collapse">
                        <td colspan="14">
                            {% with expid=expRep.id|stringformat:"i" %}
                              {% with missid=mission.id|stringformat:"i" %}
                              {% with filt=expid|add:"&"|add:missid %}
                              {% with expLinL=expLinDict|get_from_pair:filt %}
                              {% for expLin in expLinL|slice:":1" %}
                           <Label class="t_heading"><strong>Remboursement hors frais kilométriques</strong></Label>
                           <table class="table custom-view" style="background-color:white;color:black;">
                              <thead style="background-color:seagreen;color:white;">
                                 <th>Type</th>
                                 <th>Date</th>
                                 <th>Coût total TTC (€)</th>
                                 <th>Justificatif</th>
                                 <th>Détail</th>
                                 <th>État</th>
                              </thead>
                              {% for expLin in expLinL %}
                              <tbody>
                                 <td>{{ expLin.get_nature_display }}</td>
                                 <td>{{ expLin.date }}</td>
                                 <td>{{ expLin.amountTVA }}</td>
                                 {% if expLin.proof.name.strip %}
                                 <td><a href="{% url 'download' expLin.proof.name|urlFromFile:1 %}">Télécharger</a></td>
                                 {% else %}
                                 <td>Non renseignée</td>
                                 {% endif %}
                                 <td>
                                    {% if expLin.state != 'Accepté' %}
                                    <form method="get" action="{% url 'RefundRequest' %}{{expLin.id}}" target="_blank">
                                       <button type="submit" formmethod="get" id="myButton" class="btn btn-primary" >Modifier</button>
                                    </form>
                                    {% else %}
                                    <form method="get" action="{% url 'ConsultRequest' %}{{expLin.id}}" target="_blank">
                                       <button type="submit" formmethod="get" id="myButton" class="btn btn-primary" >Consulter</button>
                                    </form>
                                    {% endif %}
                                 </td>
                                 <td>{{ expLin.state }}</td>
                              </tbody>
                              {% endfor %}
                              </table>
                              {% endfor %}
                              {% endwith %}
                              {% endwith %}
                              {% endwith %}
                              {% endwith %}



                          {% with expid=expRep.id|stringformat:"i" %}
                              {% with missid=mission.id|stringformat:"i" %}
                              {% with filt=expid|add:"&"|add:missid %}
                              {% with expLinL=mileDict|get_from_pair:filt %}
                              {% for expLin in expLinL|slice:":1" %}
                           <Label class="t_heading"><strong>Remboursement frais kilométriques</strong></Label>
                           <table class="table custom-view"  style="background-color:white;color:black;">
                              <thead style="background-color:seagreen;color:white;">
                                 <th>Date</th>
                                 <th>Coût total TTC (€)</th>
                                 <th>Justificatif</th>
                                 <th>Détail</th>
                                 <th>État</th>
                              </thead>
                              {% for expLin in expLinL %}
                              <tbody>
                                 <td>{{ expLin.date }}</td>
                                 <td>{{ expLin.amountTVA }}</td>
                                 {% if expLin.proof.name.strip %}
                                 <td><a href="{% url 'download' expLin.proof.name|urlFromFile:1 %}">Télécharger</a></td>
                                 {% else %}
                                 <td>Non renseignée</td>
                                 {% endif %}
                                 <td>
                                    {% if expLin.state != 'Accepté' %}
                                    <form method="get" action="{% url 'MileageRequest' %}{{expLin.id}}" target="_blank">
                                       <button type="submit" formmethod="get" id="myButton" class="btn btn-primary" >Modifier</button>
                                    </form>
                                    {% else %}
                                    <form method="get" action="{% url 'ConsultMileageRequest' %}{{expLin.id}}" target="_blank">
                                       <button type="submit" formmethod="get" id="myButton" class="btn btn-primary" >Consulter</button>
                                    </form>
                                    {% endif %}
                                 </td>
                                 <td>{{ expLin.state }}</td>
                              </tbody>
                              {% endfor %}
                              </table>
                              {% endfor %}
                              {% endwith %}
                              {% endwith %}
                              {% endwith %}
                              {% endwith %}

                              {% with expid=expRep.id|stringformat:"i" %}
                              {% with missid=mission.id|stringformat:"i" %}
                              {% with filt=expid|add:"&"|add:missid %}
                              {% with expLinL=advDict|get_from_pair:filt %}
                              {% for expLin in expLinL|slice:":1" %}
                              <Label class="t_heading"><strong>Demandes d'avances</strong></Label>
                           <table class="table custom-view"  style="background-color:white;color:black;">
                              <thead style="background-color:seagreen;color:white;">
                                 <th>Date</th>
                                 <th>Montant restant (€)</th>
                                 <th>Commentaire</th>
                                 <th>Détail</th>
                                 <th>État</th>
                              </thead>
                              {% for expLin in expLinL %}
                              <tbody>
                                 <td>{{ expLin.date }}</td>
                                 <td>{{ expLin.estimatedPrice }}</td>
                                 <td>{{ expLin.advanceCommentary }}</td>
                                 <td>
                                    {% if expLin.state != 'Accepté' and expLin.state != 'Envoyé' %}
                                    <form method="get" action="{% url 'AdvanceRequest' %}{{expLin.id}}" target="_blank"">
                                       <button type="submit" formmethod="get" id="myButton" class="btn btn-primary">Modifier</button>
                                    </form>
                                    {% else %}
                                    <form method="get" action="{% url 'ConsultAdvanceRequest' %}{{expLin.id}}" target="_blank"">
                                       <button type="submit" formmethod="get" id="myButton" class="btn btn-primary">Modifier</button>
                                    </form>
                                    {% endif %}
                                 </td>
                                 <td>{{ expLin.state }}</td>
                              </tbody>
                              {% endfor %}
                              </table>
                              {% endfor %}
                              {% endwith %}
                              {% endwith %}
                              {% endwith %}
                              {% endwith %}
                        </td>
                     </tr>
                      {% endfor %}
                      {% endif %}
                      {% endfor %}                        
                  </table>
                  {% endfor %}
                      {% else %}
                      <p>Aucune mission enregistrée</p>
                      {% endif %}
                      {% endif %}
                  {% endfor %}
               </td>
            </tr>
         </tbody>
         {% endfor %}                                                                                                    
      </table>
   </div>
   {% else %}
   <p>Aucune note de frais enregistrée</p>
   {% endif %}
</section>
    </div>

{% endblock %}