{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <div class = "content-wrapper">
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    {% load tags %}

<section class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h1>Historique des notes de frais de {{ collab.user.username }}</h1>
         </div>
      </div>
   </div>
   <!-- /.container-fluid -->
</section>
<section class="content">
   <div class="table-responsive">
      <p class="t_heading">Notes de frais</p>
      <table class="table table-bordered">
         <thead style="background-color:darkgreen;color:white;">
            <th>Date</th>
            <th>Coût total TTC (€)</th>
            <th>État</th>
            <th>Détails</th>
         </thead>
         {% for expRep in expRepL %}
         <tbody>
            <tr>
               <td>{{ expRep.month}} {{expRep.year }}</td>
               <td>{{ expRep|sumRep:1 }}</td>
               <td>Incomplet</td>
               <td><button class="btn btn-success" onclick="ShowHide(this);" data-toggle="collapse" data-target= "#intro-{{ forloop.counter }}">Show details</button></td>
            </tr>
            <tr id="intro-{{ forloop.counter }}" class="collapse">
               <td colspan="7">
                  <p class="t_heading">Missions</p>
                  <table class="table custom-view">
                     <thead style="background-color:green;color:white;">
                        <th>Mission</th>
                        <th>Nombre ligne de frais</th>
                        <th>Coût total TTC (€)</th>
                        <th>Détails</th>
                     </thead>
                     {% for key,value in missDict.items %}
                     {% if key == expRep %}
                     {% for mission in value %}
                     <tbody>
                        <td>{{ mission.name }}</td>
                        <td>{{ mission.name|sumMission:expRep }}</td>
                        <td>{{ mission.name|sumMissMoney:expRep }}</td>
                        <td><button class="btn btn-success" onclick="ShowHide(this);" data-toggle="collapse" data-target="#outro-{{forloop.parentloop.counter}}-{{ forloop.counter }}">Show details</button></td>
                     </tbody>
                     <tr id="outro-{{forloop.parentloop.counter}}-{{ forloop.counter }}" class="collapse">
                        <td colspan="14">
                           <p class="t_heading"><strong>Remboursement hors frais kilométriques</strong></p>
                           <table class="table custom-view">
                              <thead style="background-color:seagreen;color:white;">
                                 <th>Type</th>
                                 <th>Date</th>
                                 <th>Coût total TTC (€)</th>
                                 <th>Justificatif</th>
                                 <th>Détail</th>
                                 <th>État</th>
                              </thead>
                              {% with expid=expRep.id|stringformat:"i" %}
                              {% with missid=mission.id|stringformat:"i" %}
                              {% with filt=expid|add:"&"|add:missid %}
                              {% with expLinL=expLinDict|get_from_pair:filt %}
                              {% for expLin in expLinL %}
                              <tbody>
                                 <td>{{ expLin.get_nature_display }}</td>
                                 <td>{{ expLin.date }}</td>
                                 <td>{{ expLin.amountTVA }}</td>
                                 {% if expLin.proof.name.strip %}
                                 <td><a href="{% url 'download' expLin.proof.name|urlFromFile:1 %}">Télécharger</a></td>
                                 {% else %}
                                 <td>Non renseignée</td>
                                 {% endif %}
                                 <td>
                                    {% if expLin.state != 'Accepté' %}
                                    <form method="get" action="{% url 'RefundRequest' %}{{expLin.id}}">
                                       <button type="submit" formmethod="get" id="myButton" class="btn btn-primary" >Modifier</button>
                                    </form>
                                    {% else %}
                                    <p>Non modifiable après acceptation</p>
                                    {% endif %}
                                 </td>
                                 <td>{{ expLin.state }}</td>
                              </tbody>
                              {% endfor %}
                              {% endwith %}
                              {% endwith %}
                              {% endwith %}
                              {% endwith %}
                              </table>




                           <p class="t_heading"><strong>Remboursement frais kilométriques</strong></p>
                           <table class="table custom-view">
                              <thead style="background-color:seagreen;color:white;">
                                 <th>Type</th>
                                 <th>Date</th>
                                 <th>Coût total TTC (€)</th>
                                 <th>Justificatif</th>
                                 <th>Détail</th>
                                 <th>État</th>
                              </thead>
                              {% with expid=expRep.id|stringformat:"i" %}
                              {% with missid=mission.id|stringformat:"i" %}
                              {% with filt=expid|add:"&"|add:missid %}
                              {% with expLinL=mileDict|get_from_pair:filt %}
                              {% for expLin in expLinL %}
                              <tbody>
                                 <td>{{ expLin.get_nature_display }}</td>
                                 <td>{{ expLin.date }}</td>
                                 <td>{{ expLin.amountTVA }}</td>
                                 {% if expLin.proof.name.strip %}
                                 <td><a href="{% url 'download' expLin.proof.name|urlFromFile:1 %}">Télécharger</a></td>
                                 {% else %}
                                 <td>Non renseignée</td>
                                 {% endif %}
                                 <td>
                                    {% if expLin.state != 'Accepté' %}
                                    <form method="get" action="{% url 'RefundRequest' %}{{expLin.id}}">
                                       <button type="submit" formmethod="get" id="myButton" class="btn btn-primary" >Modifier</button>
                                    </form>
                                    {% else %}
                                    <p>Non modifiable après acceptation</p>
                                    {% endif %}
                                 </td>
                                 <td>{{ expLin.state }}</td>
                              </tbody>
                              {% endfor %}
                              {% endwith %}
                              {% endwith %}
                              {% endwith %}
                              {% endwith %}
                              </table>





                              <p class="t_heading"><strong>Demandes d'avances</strong></p>
                           <table class="table custom-view">
                              <thead style="background-color:seagreen;color:white;">
                                 <th>Type</th>
                                 <th>Date</th>
                                 <th>Montant restant (€)</th>
                                 <th>Commentaire</th>
                                 <th>Détail</th>
                                 <th>État</th>
                              </thead>
                              {% with expid=expRep.id|stringformat:"i" %}
                              {% with missid=mission.id|stringformat:"i" %}
                              {% with filt=expid|add:"&"|add:missid %}
                              {% with expLinL=advDict|get_from_pair:filt %}
                              {% for expLin in expLinL %}
                              <tbody>
                                 <td>{{ expLin.get_nature_display }}</td>
                                 <td>{{ expLin.date }}</td>
                                 <td>{{ expLin.estimatedPrice }}</td>
                                 <td>{{ expLin.advanceCommentary }}</td>
                                 <td>
                                    {% if expLin.state != 'Accepté' %}
                                    <form method="get" action="{% url 'RefundRequest' %}{{expLin.id}}">
                                       <button type="submit" formmethod="get" id="myButton" class="btn btn-primary" >Consulter</button>
                                    </form>
                                    {% else %}
                                    <p>Non modifiable après acceptation</p>
                                    {% endif %}
                                 </td>
                                 <td>{{ expLin.state }}</td>
                              </tbody>
                              {% endfor %}
                              {% endwith %}
                              {% endwith %}
                              {% endwith %}
                              {% endwith %}
                              </table>
                        </td>
                     </tr>
                      {% endfor %}
                      {% endif %}
                      {% endfor %}
                     <form method="get" action="{% url 'RefundRequest' %}">
                       {% csrf_token %}
                       <button type="submit" formmethod="get" class="btn btn-primary btn-lg float-right">Ajouter une demande de remboursement</button>
                    </form>
                    <form method="get" action="{% url 'AdvanceRequest' %}">
                       {% csrf_token %}
                       <button type="submit" formmethod="get" class="btn btn-primary btn-lg float-right">Ajouter une demande d'avance</button>
                    </form>
                    <form method="get" action="{% url 'MileageRequest' %}">
                       {% csrf_token %}
                       <button type="submit" formmethod="get" class="btn btn-primary btn-lg float-right">Ajouter une demande de remboursement de frais kilométrique</button>
                    </form>
                        
                  </table>
               </td>
            </tr>
         </tbody>
         {% endfor %}                                                                                                    
      </table>
   </div>
</section>
    </div>
<script>
   function ShowHide(id) {
     if ($(id).html() == "Show details") {
       $(id).html("Hide details");
     } else {
       $(id).html("Show details");
     }
   
   }
   function Test(){
   	return"<h1>TEST</h1>";
   }

   class Counter {
     static cpt = 0;
    
     //static variable defined
     static Increase() {
       cpt = cpt + 1;
       return "#" + cpt;
     }
     static Cpt(){
       return cpt;
     }
   }
</script>
{% endblock %}