{%  extends 'main/baseform.html' %}
{% load static %}
{% block content %}
	{% if form.errors %}
		{% for field in form %}
			{% for error in field.errors %}
				<div class="alert alert-danger">
					<strong>{{ error|escape }}</strong>
				</div>
			{% endfor %}
		{% endfor %}
		{% for error in form.non_field_errors %}
			<div class="alert alert-danger">
				<strong>{{ error|escape }}</strong>
			</div>
		{% endfor %}
	{% endif %}	
	<br>
	<h3 class="title"> New Expense Line<h1>
    <div class="row">
		<div class="card-body">
			<form class="form-group" action="" method="POST">
				{% csrf_token %}
				{{ form }}
				<input type="submit" name="Submit">
			</form>
		</div>	
	</div>	

{% endblock %}