{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <div class = "content-wrapper">
    <div class = "content-header">
	{% if form.errors %}
		{% for field in form %}
			{% for error in field.errors %}
				<div class="alert alert-danger">
					<strong>{{ error|escape }}</strong>
				</div>
			{% endfor %}
		{% endfor %}
		{% for error in form.non_field_errors %}
			<div class="alert alert-danger">
				<strong>{{ error|escape }}</strong>
			</div>
		{% endfor %}
	{% endif %}	
	</div>


        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                </div>
            </div><!-- /.container-fluid -->
        </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">
                	{% if type == 'refund' %}
	                	Édition d'une ligne de frais
	                {%elif type == 'advance' %}
	                	Édition d'une demande d'avance
	                {%elif type == 'mileage' %}
	                	Édition d'une ligne de frais kilométriques
	                {% endif %}
            	</h3>
              </div>
				<form>
				<div class="card-body">
					<div class="form-group">
					<form enctype="multipart/form-data" class="form-group" action="" method="POST">
						{% csrf_token %}
						<table>
						{{ form.as_table }}
						</table>
					<button type="submit" formenctype="multipart/form-data" formmethod="post" name="Submit">Envoyer</button>
					<button type="submit" formenctype="multipart/form-data" formmethod="post" name = "Save">Sauvegarder</button>
					</form>
					</div>
				</div>
				</form>
			</div>	
		</div>
	</div>
	</section>
    </div>
{% endblock %}