{% extends 'main/base.html' %}
{% load tags %}

{% block content %}

    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% load static %} <img src="{% static "admin/media/Logo.png" %}" alt="home" width="180" height="180" />
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <section class="content">
            {% if user.is_authenticated %}
                <div class="container-fluid">
                    <div class="col">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Mes notes de frais</h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group">


                                    <a class="btn btn-primary btn-lg" href="{% url 'clientHistoric' %}"> Consulter vos notes de frais </a><br><br>
                                    <a class="btn btn-primary btn-lg" href="{% url 'RefundRequest' %}"> Faire une nouvelle demande de remboursement </a><br><br>
                                    <a class="btn btn-primary btn-lg" href="{% url 'AdvanceRequest' %}"> Faire une nouvelle demande d'avance </a><br><br>
                                    <a class="btn btn-primary btn-lg" href="{% url 'MileageRequest' %}"> Faire une nouvelle demande de frais kilométriques </a><br><br>
                                </div>
                            </div>
                        </div>
                        {% if user|isHead:1 %}
                            <div>
                                <canvas height="5"></canvas>
                            </div>
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Validations</h3>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <a class="btn btn-primary btn-lg" href="{% url 'validation' %}"> Consulter les notes de frais à valider </a><br><br>
                                        <a class="btn btn-primary btn-lg" href="{% url 'serviceHistoric' %}"> Historique des notes du service </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                </div>
            {% endif %}
        </section>
    </div>

{% endblock %}