{% load static %}

<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<link rel="stylesheet" href= "{% static 'admin-lte/plugins/fontawesome-free/css/all.min.css' %}">
<!-- Theme style -->
<link rel="stylesheet" href="{% static 'admin-lte/dist/css/adminlte.min.css' %}">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin-lte/plugins/datatables-fixedheader/css/fixedHeader.bootstrap4.min.css' %}">


<div class="container d-flex align-items-center justify-content-center">
	<div class="row justify-content-center align-items-center" style = "position: absolute; top: 45%; transform: translateY(-50%)">
    <div class="card card-primary align-self-center">
      <div class="card-header">
        <h3 class="card-title">Login</h3>
      </div>
        <p></p>
		<form>
		{% csrf_token %}
            <table>
		        {{form.as_table}}
		    </table>

		<div class="card-footer">
		  <button type="submit"   formmethod="post" class="btn btn-primary">Submit</button>
		</div>
		</form>
	</div>
</div>
</div>
</html>