{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class = "content-wrapper">
   {% if form.errors %}
   {% for field in form %}
   {% for error in field.errors %}
   <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
   </div>
   {% endfor %}
   {% endfor %}
   {% for error in form.non_field_errors %}
   <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
   </div>
   {% endfor %}
   {% endif %}	
   {% load tags %}
   <section class="content-header">
      <div class="container-fluid">
         <div class="row mb-2">
            <div class="col-sm-6">
               <h1>Historique des notes de frais du service :</h1>
            </div>
         </div>
      </div>
      <!-- /.container-fluid -->
   </section>
   <section class="content">
      <div class="table-responsive">
         <p class="t_heading">Notes de frais</p>
         <table class="table table-bordered table-hover">
            <thead style="background-color:darkgreen;color:white;" >
               <th>Demandeur</th>
               <th>Date</th>
               <th>Coût total TTC (€)</th>
               <th>Détails</th>
            </thead>
            <tbody>
               
               {% for collab in CollaboratorList %}
               {% for key,value in DictNoteDeFrais.items %}
               {% if key == collab %}
               {% for notedefrais in value %}
               <form  class="form-group" method="post">
                  {% csrf_token %}
               <tr>
                  <td>{{ collab.user.username }}</td>
                  <td>{{ notedefrais.month}} {{notedefraisyear }}</td>
                  <td>{{ notedefrais|sumRep:1 }}</td>
                  <td><button type="button" class="btn btn-success" onclick="ShowHide(this);" data-toggle="collapse" data-target= "#intro-{{ forloop.counter }}">Show details</button></td>
               </tr>
               <tr id="intro-{{ forloop.counter }}" class="collapse">
                  <td colspan="7">
                     <p class="t_heading">Missions</p>
                     <table class="table custom-view">
                        <thead thead style="background-color:green;color:white;" >
                           <th>Mission</th>
                           <th>Nombre ligne de frais</th>
                           <th>Coût total TTC (€)</th>
                           <th>Détails</th>
                        </thead>
                        {% for key2,value2 in DictMission.items %}
                        {% if key2 == notedefrais %}
                        {% for mission in value2 %}
                        <tbody>
                           <td>{{ mission.name }}</td>
                           <td>{{ mission.name|sumMission:key2 }}</td>
                           <td>{{ mission.name|sumMissMoney:key2 }}</td>
                           <td><button  type="button" class="btn btn-success" onclick="ShowHide(this);" data-toggle="collapse" data-target="#outro-{{forloop.parentloop.counter}}-{{ forloop.counter }}">Show details</button></td>
                        </tbody>
                        <tr id="outro-{{forloop.parentloop.counter}}-{{ forloop.counter }}" class="collapse">
                           <td colspan="14">
                              <p class="t_heading">Lignes de frais</p>
                              <table class="table custom-view">
                                 <thead style="background-color:seagreen;color:white;" >
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Coût total TTC (€)</th>
                                    <th>Justificatif</th>
                                    <th>Détail</th>
                                    <th>Valider</th>
                                 </thead>
                                 {% with expid=notedefrais.id|stringformat:"i" %}
                                 {% with missid=mission.id|stringformat:"i" %}
                                 {% with filt=expid|add:"&"|add:missid %}
                                 {% with expLinL=DictRefundRequest|get_from_pair:filt %}
                                 {% for expLin in expLinL %}
                                 <tbody>
                                    <td>{{ expLin.nature }}</td>
                                    <td>{{ expLin.date }}</td>
                                    <td>{{ expLin.amountTVA }}</td>
                                    {% if expLin.proof.name.strip %}
                                    <td><a href="{% url 'download' expLin.proof.name|urlFromFile:1 %}">Télécharger</a></td>
                                    {% else %}
                                    <td>Non renseignée</td>
                                    {% endif %}
                                    <td>
                                       {% if expLin.state != 'Accepté' %}
                                       <a class="btn btn-primary" href="{% url 'RefundRequest' %}{{expLin.id}}">détail</a>
                                       {% else %}
                                       <p>Non modifiable après acceptation</p>
                                       {% endif %}
                                    </td>
                                    <td>
                                          <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="{{ expLin.id|stringformat:"i" }}" name="validRefundRequest" id="flexCheckChecked" checked>
                                             <label class="form-check-label" for="mango">Valider</label>
                                          </div>
                                    </td>
                                 </tbody>
                                 {% endfor %}
                                 {% endwith %}
                                 {% endwith %}
                                 {% endwith %}
                                 {% endwith %}
                              </table>
                              <p class="t_heading">Demande d'avances</p>
                              <table class="table custom-view">
                                 <thead style="background-color:seagreen;color:white;">
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Coût total TTC (€)</th>
                                    <th>Justificatif</th>
                                    <th>Détail</th>
                                    <th>Valider</th>
                                 </thead>
                                 {% with expid=notedefrais.id|stringformat:"i" %}
                                 {% with missid=mission.id|stringformat:"i" %}
                                 {% with filt=expid|add:"&"|add:missid %}
                                 {% with expLinL=DictAdvance|get_from_pair:filt %}
                                 {% for expLin in expLinL %}
                                 <tbody>
                                    <td>{{ expLin.nature }}</td>
                                    <td>{{ expLin.date }}</td>
                                    <td>{{ expLin.amountTVA }}</td>
                                    {% if expLin.proof.name.strip %}
                                    <td><a href="{% url 'download' expLin.proof.name|urlFromFile:1 %}">Télécharger</a></td>
                                    {% else %}
                                    <td>Non renseignée</td>
                                    {% endif %}
                                    <td>
                                       {% if expLin.state != 'Accepté' %}
                                       <a class="btn btn-primary" href="{% url 'RefundRequest' %}{{expLin.id}}">détail</a>
                                       {% else %}
                                       <p>Non modifiable après acceptation</p>
                                       {% endif %}
                                    </td>
                                    <td>
                                       <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value=""  name="validAvance" id="flexCheckChecked" checked>
                                       </div>
                                    </td>
                                 </tbody>
                                 {% endfor %}
                                 {% endwith %}
                                 {% endwith %}
                                 {% endwith %}
                                 {% endwith %}
                              </table>
                              <p class="t_heading">Frais kilométriques</p>
                              <table class="table custom-view">
                                 <thead style="background-color:seagreen;color:white;">
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Coût total TTC (€)</th>
                                    <th>Justificatif</th>
                                    <th>Détail</th>
                                    <th>Valider</th>
                                 </thead>
                                 {% with expid=notedefrais.id|stringformat:"i" %}
                                 {% with missid=mission.id|stringformat:"i" %}
                                 {% with filt=expid|add:"&"|add:missid %}
                                 {% with expLinL=DictMileageExpense|get_from_pair:filt %}
                                 {% for expLin in expLinL %}
                                 <tbody>
                                    <td>{{ expLin.nature }}</td>
                                    <td>{{ expLin.date }}</td>
                                    <td>{{ expLin.amountTVA }}</td>
                                    {% if expLin.proof.name.strip %}
                                    <td><a href="{% url 'download' expLin.proof.name|urlFromFile:1 %}">Télécharger</a></td>
                                    {% else %}
                                    <td>Non renseignée</td>
                                    {% endif %}
                                    <td>
                                       {% if expLin.state != 'Accepté' %}
                                       <a class="btn btn-primary" href="{% url 'RefundRequest' %}{{expLin.id}}">détail</a>
                                       {% else %}
                                       <p>Non modifiable après acceptation</p>
                                       {% endif %}
                                    </td>
                                    <td>
                                       <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value="" name="validMileage" id="flexCheckChecked" checked>
                                       </div>
                                    </td>
                                 </tbody>
                                 {% endfor %}
                                 {% endwith %}
                                 {% endwith %}
                                 {% endwith %}
                                 {% endwith %}
                                 
                              </table>
                              {% endfor %}
                              {% endif %}
                              {% endfor %}
                           </td>
                        </tr>
                     </table>
                     
                        <button type="submit"   formmethod="post" class="btn btn-primary btn-lg float-right">Confirmer</button>
                     </form>
                  </td>
               </tr>
               {% endfor %}
               {% endif %}
               {% endfor %}
               {% endfor %}
            </tbody>
         </table>
      </div>
   </section>
</div>

<script>
   function ShowHide(id) {
     if ($(id).html() == "Show details") {
       $(id).html("Hide details");
     } else {
       $(id).html("Show details");
     }
   
   }
</script>
{% endblock %}