{% extends 'main/base.html' %}
{% load static %}

{% block content %}

	{% if form.errors %}
		{% for field in form %}
			{% for error in field.errors %}
				<div class="alert alert-danger">
					<strong>{{ error|escape }}</strong>
				</div>
			{% endfor %}
		{% endfor %}
		{% for error in form.non_field_errors %}
			<div class="alert alert-danger">
				<strong>{{ error|escape }}</strong>
			</div>
		{% endfor %}
	{% endif %}	
	
	{% load tags %}
	<div class = "content-wrapper">
	<section class="content-header">
	  <div class="container-fluid">
	    <div class="row mb-2">
	      <div class="col-sm-6">
	        <h1>Historique des notes de frais du service :</h1>
	      </div>
	    </div>
	  </div><!-- /.container-fluid -->
	</section>

   <section class="content">

	      <div class="table-responsive">
	            <p class="t_heading">Notes de frais</p>
	            <table class="table table-bordered table-hover">
	                <thead>
	                    <th>Demandeur</th>
	                    <th>Date</th>
	                    <th>Coût total TTC (€)</th>
	                    <th>État</th>
	                    <th>Details</th>                                                
	                </thead>
	                <tbody>
	                    {% for collab in CollaboratorList %}
							{% for key,value in DictNoteDeFrais.items %}
								{% if key == collab %}
									{% for notedefrais in value %}
						<tr>
							<td>{{ collab.user.username }}</td>
							<td>{{ value.month}} {{value.year }}</td>
							<td>{{ value|sumRep:1 }}</td>
							<td>Incomplet</td>
							<td><button class="btn btn-success" onclick="ShowHide(this);" data-toggle="collapse" data-target="#intro">Show details</button></td>              
						</tr>

						{% endfor %}
						{% endif %}
						{% endfor %}
		  	 			 
				 		  {% endfor %}
	                    <tr id="intro" class="collapse">
					 <td colspan="7">
					  <p class="t_heading">Missions</p>
					  <table class="table custom-view">
					  <thead>
					      <th>Mission</th>
					      <th>Nombre ligne de frais</th>
					      <th>Coût total TTC (€)</th>
					  </thead>
					  <tbody>
					      <td>Voyage à Carracas</td>
					      <td>2</td>
					      <td>300</td>
					  </tbody>
					  <tr id="outro">
					 <td colspan="14">
					  <p class="t_heading">Lignes de frais</p>
					  <table class="table custom-view">
					  <thead>
					      <th>Type</th>
					      <th>Date</th>
					      <th>Coût total TTC (€)</th>
					      <th>Demande d'avance</th>
					      <th>Justificatif</th>
					      <th>Détail</th>
					      <th>Valider</th>
					  </thead>
					  <tbody>
					      <td>Restaurant</td>
					      <td>12/12/2021</td>
					      <td>100</td>
					      <td>non</td>
					       <td><a href="{% url 'download' filename='placeholder.jpg'%}">Télécharger</a></td>
					      <td><button onclick="location.href = {% url 'void' %};" id="myButton" class="submit" >détail</button></td>
					      <td><div class="form-check">
						  <input class="form-check-input" type="checkbox" value="" name="valid" id="flexCheckChecked" checked>
						</div></td>
					  </tbody>
					  <tbody>
					      <td>Hôtel</td>
					      <td>12/12/2021</td>
					      <td>200</td>
					      <td>non</td>
					      <td>non</td>
					      <td><button onclick="location.href = {% url 'void' %};" id="myButton" class="submit" >détail</button></td>
					      <td><div class="form-check">
						  <input class="form-check-input" type="checkbox" value="" name="valid" id="flexCheckChecked" checked>
						</div></td>
					  </tbody>
					 </table>
					</td>
					</tr> 
					 </table>
					 <form method="post">
						{% csrf_token %}
					 	<button type="submit"   formmethod="post" class="btn btn-primary btn-lg float-right">Confirmer</button>
					</form>
					</td>
					</tr>                                                       
	                </tbody>                                                                                                    
	            </table>                                        
	        </div>
    </section>

<script>
function ShowHide(id) {
  if ($(id).html() == "Show details") {
    $(id).html("Hide details");
  } else {
    $(id).html("Show details");
  }

}
</script>

{% endblock %}